<a href="https://colab.research.google.com/github/JayabharathiRavi/codekata_solved/blob/main/codekata_linkedlist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a linked list,rotate it for a given number of times and print the values of linked list after rotation.

In [4]:
n=int(input())
x=[int(x) for x in input().split()]
y=int(input())
x1=x.copy()
for i in range(y):
  i=x1[-1]
  x.insert(0,i)
  x1.remove(i)
print(*(x[:n]))

8
1 2 3 4 5 6 7 8
4
5 6 7 8 1 2 3 4

Delete the N-th node from the end of the linked list

In [3]:
n=int(input())
x=[int(x) for x in input().split()]
y=int(input())
x.remove(x[-y])
print(*x)

5
1 2 3 4 5
3
1 2 4 5

Merge two sorted linked lists and print the new merged linked list.
The new list should be made by splicing together the nodes of the first two lists, and should also be sorted.

In [2]:
x=int(input())
x1=int(input())
y=[int(x) for x in input().split()]
y1=[int(x) for x in input().split()]
z=y+y1
print(*sorted(z))

3
3
5 8 20
4 11 15
4 5 8 11 15 20

Given a linked list delete the given number node in the linked list without using a head pointer.

In [5]:
n=int(input())
x=[int(x) for x in input().split()]
y=int(input())
x.remove(x[y-1])
print(*x)

6
1 2 3 4 5 6
3
1 2 4 5 6


Determine whether the contents in the form of linked list is a palindrome or not.

In [6]:
n=int(input())
s=input()
s1=s[::-1]
if s==s1:
    print('yes')
else:
    print('no')

5
radar
yes

Delete the middle node of a linked list and print the resulting linked list.

In [7]:
n=int(input())
x=[int(x) for x in input().split()]
y=n/2
if n%2==0:
    x.remove(x[int(y)-1])
else:
    x.remove(x[int(y)])
print(*x)

4
45 56 67 78
45 67 78

Given a linked list of 0's 1's and 2's sort the values in ascending order and print the result in the form of linked list.

In [8]:
n=int(input())
x=[int(x) for x in input().split()]
print(*sorted(x))

6
0 1 2 2 0 1
0 0 1 1 2 2

Given a linked list,reverse it and print the values of linked list after reversed.

In [9]:
n=int(input())
x=[int(x) for x in input().split()]
print(*sorted(x)[::-1])

4
1 2 3 4
4 3 2 1