<a href="https://colab.research.google.com/github/JayabharathiRavi/codekata_absolutebeginner/blob/main/codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print the factorial of the integer.

In [1]:
import math
a=int(input())
print(math.factorial (a))

2
2

You are provided with a number check whether its odd or even.

In [2]:
x=float(input())
a=round(x,2)
if(a%2)==0:
    print("Even")
else:
    if(a%2)!=0:
        print("Odd")
    elif(a==0):
        print("Zero")

2
Even

You are given Two Numbers, A and B. If C = A + B. Find C.

In [3]:
a=float(input())
b=float(input())
c=a+b
print(float(c))

1
1
2.0

You are provided with the radius of a circle "A". Find the length of its circumference.

In [4]:
a=float(input())
r=round(a,2)
c = 2*3.14159265359*r
print(round(c,2))

2
12.57

You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit.

In [5]:
a=input()
A=float(a)
x=(A*9/5) + 32 
print(float(x))

12
53.6

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

In [6]:
from math import sqrt

a=float(input())
b=sqrt(3)

c=(b*a*a)/4

print(round(c,2))

20
173.21

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

In [7]:
N=int(input())
if N!=0:
    multiples = []
    for i in range(1, N+1):
        multiples.append(9*i)
    print(*multiples)
else:
    print("NULL")

3
9 18 27

You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

In [8]:
p,r,t=[float(x) for x in input().split()]

si=(p*r*t)/100
simple_interest=float(si)
print(round(simple_interest,2))

1000 2 5
100.0

You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

In [9]:
a=int(input())
b=int(input())
c=a*b
print(round(c,1))

2
3
6

You are given three numbers A, B & C. Print the largest amongst these three numbers.

In [10]:
a=int(input())
b=int(input())
c=int(input())
if a>=b and a>=c:
    print(a)
elif b>=a and b>=c:
    print(b)
else:
    print(c)

1
2
3
3

You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

In [11]:
n=int(input())
if(n<=0):
    print(n)
else:
    print(n*n)

18
324

You are provided with two numbers. Find and print the smaller number.

In [12]:

x, y = [int(x) for x in input().split()]
if x<=y:
    print(x)
else:
    print(y)

23 1
1

Write a code to get an integer N and print values from 1 till N in a separate line.

In [13]:
n=int(input())
for i in range(1,n+1):
    print(i)

5
1
2
3
4
5

You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

In [14]:
import math  
a,b,c=(float(x) for x in input().split())
d = (b**2) - (4*a*c)  
x = (-b-math.sqrt(d))/(2*a)  
X = (-b+math.sqrt(d))/(2*a)  
print(format(X,'.2f')) 
print(format(x,'.2f'))

1 5 6
-2.00
-3.00

Write a code to get the input and print it 5 times.

In [15]:

a=int(input())
for x in range(5):
    x=str(a)
    print(x)

4
4
4
4
4
4

Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

In [16]:
a,b=[int(x) for x in input().split()]
for x in range(b):
    x=str(a)
    print(x)

2 3
2
2
2

Write a code to get an integer N and print the even values from 1 till N in a separate line.

In [17]:
n = int(input())

for number in range(1, n+1):
    if(number % 2 == 0):
        print("{0}".format(number))

6
2
4
6

Let "A"  be a string. Remove all the whitespaces and find it's length.

In [18]:
a=str(input())
x=a.replace(" ","")
print(len(x))

Lorem Ipsum
10

Write a code to get an integer N and print the values from N to 1.

In [19]:
n=int(input())
i = n
while ( i >= 1):
    print (i, end = '\n')
    i = i - 1

10
10
9
8
7
6
5
4
3
2
1

Write a code to get an integer N and print the sum of  values from 1 to N.

In [20]:
number=int(input())
sum = 0
for value in range(1, number + 1):
    sum = sum + value
print(sum)

10
55

Write a program to get a string as input and reverse the string without using temporary variable.

In [21]:
n=input()[::-1]
print(n)

GUVI
IVUG

You are given with a number "N", find its cube.

In [22]:
n=float(input())
cube=n*n*n
print(cube)

2
8.0

Write a code to get an integer N and print the digits of the integer.

In [23]:
a=input()
print(*a)

348
3 4 8

Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

In [24]:
x=int(input())
if(x%4==0):
    print("Y")
else:
    print("N")

2020
Y

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

In [25]:
a=int(input())
b=[1,3,5,7,8,10,12]
c=[4,6,9]
d=[2]
if a in b:
    print("31")
elif a in c:
    print("30")
elif a in d:
    print("28")
else:
    print("Error")

8
31

Write a code get an integer number as input and print the odd and even digits of the number separately.

In [26]:
n=input()
even=[]
odd=[]
for i in n:
    if (int(i))%2==0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

In [27]:
x,y=(int(i) for i in input().split())
if x>y:
  small=y
else:
  small=x
for i in range(1,small+1):
  if x%i==0 and y%i==0:
    hcf=i
print(hcf)

2 3
1

Write a code get an integer number as input and print the sum of the digits.

In [28]:
number =input()

sum_of_digits = 0
for digit in str(number):
    sum_of_digits += int(digit)
print(sum_of_digits)

124
7

You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

In [30]:
a=int(input())
m=a*1000
cm=a*100000
print(m)
print(cm)

2
2000
200000

Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

In [31]:
multiples = []
N = int(input())
for i in range(1, 4):
    multiples.append(N*i)
print(*multiples)

2
2 4 6